        * {
            padding: 0;
            margin: 0;
        }
        
         ::selection {
            color: red;
            background-color: white;
        }
        
        body {
            font-family: 'Kosugi Maru', sans-serif;
            background-color: rgb(0, 0, 0);
            background-image: url(images/onlyAvaBack.png);
            background-position: center;
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: 20%;
            font-size: 1rem;
        }
        
        h2 {
            color: white;
            text-align: center;
            margin-top: 25px;
            margin-bottom: 25px;
        }
        
        br {
            user-select: none;
        }
        
        .normal_text {
            color: white;
            font-size: 17px;
            line-height: 40px;
            white-space: normal;
        }
        
        .side_air {
            width: auto;
            height: 100vh;
            padding: 0 25% 0;
            text-align: center;
        }
        
        .main_display_air {
            width: auto;
            height: 100%;
            padding: 10% 15% 0;
            min-width: 360px;
        }
        
        .menubar {
            height: 800px;
            width: 138px;
            position: fixed;
        }
        
        .main_logo {
            margin: 20px;
        }
        /* .page_buttons {
            width: 138px;
            height: 100px;
            color: white;
            position: absolute;
            top: 200px;
            left: 10px;
        }
        
        .home_page_button,
        .info_page_button,
        .sns_page_button {
            padding: 10px;
            margin: 8px;
            font-size: 17px;
            display: block;
            transition-duration: 0.1s;
        }
        
        .home_page_button:hover,
        .info_page_button:hover,
        .sns_page_button:hover {
            background-color: white;
            color: red;
            transition-duration: 0.1s;
        } */
        
        #sns_icon_twitter,
        #sns_icon_instagram,
        #sns_icon_facebook,
        #sns_icon_tiktok {
            font-size: 50px;
        }
        
        .instagram:hover {
            color: rgb(255, 109, 250);
            cursor: pointer;
        }
        
        .twitter:hover {
            color: rgb(109, 206, 255);
            cursor: pointer;
        }
        
        .tiktok:hover {
            color: rgb(164, 164, 164);
            cursor: pointer;
        }
        
        .facebook:hover {
            color: rgb(93, 169, 255);
            cursor: pointer;
        }

        .twitter_official:hover{
            color: rgb(109, 206, 255);
            cursor: pointer;
        }
        
        .instagram,
        .twitter,
        .facebook,
        .tiktok,
        .twitter_official {
            color: white;
        }
        
        @media (max-width: 800px) {
            .side_air {
                padding: 0 10% 0;
            }
        }
        
        @media (max-width:501px) {
            .side_air {
                padding: 0 0% 0;
            }
        }
