        * {
            padding: 0;
            margin: 0;
        }
        
         ::selection {
            color: red;
            background-color: white;
        }
        
        body {
            font-family: 'Kosugi Maru', sans-serif;
            background-color: rgb(0, 0, 0);
            background-image: url(../images/onlyAvaBack.png);
            background-position: center;
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: 20%;
            font-size: 1rem;
        }
        
        h2 {
            color: white;
            text-align: center;
            margin-top: 25px;
            margin-bottom: 25px;
        }
        
        br {
            user-select: none;
        }

        hr{
            margin-top: 12px;
            margin-bottom: 12px;
        }
        
        .normal_text {
            color: white;
            font-size: 17px;
            line-height: 40px;
            white-space: normal;
        }

        .url_text{
            text-decoration: underline;
            color: rgb(109, 109, 255);
            font-size: 17px;
            line-height: 40px;
            white-space: normal;
            cursor: pointer;
        }
        
        .side_air {
            width: auto;
            height: 100vh;
            padding: 0 25% 0;
            text-align: center;
        }
        
        .main_display_air {
            width: auto;
            height: 100%;
            padding: 5% 15% 5%;
            min-width: 360px;
        }
        
        .menubar {
            height: 800px;
            width: 138px;
            position: fixed;
        }
        
        .main_logo {
            margin: 20px;
        }

        .page_button_common{
            color: white;
            display: inline-block;
            border-right: solid 2px white;
            border-left: solid 2px white;
            height: 37px;
            width: 100px;
            background-color: none;
            font-size: 20px;
            text-align: center;
            cursor: pointer;
        }

        .page_button_common:hover{
            background-color: rgb(255, 255, 255);
            color: red;
        }
        
        .page_button_text{
            user-select: none;
        }

        #sns_icon_twitter,
        #sns_icon_instagram,
        #sns_icon_facebook,
        #sns_icon_tiktok {
            font-size: 50px;
        }
        
        .instagram:hover {
            color: rgb(255, 109, 250);
            cursor: pointer;
        }
        
        .twitter:hover {
            color: rgb(109, 206, 255);
            cursor: pointer;
        }
        
        .tiktok:hover {
            color: rgb(164, 164, 164);
            cursor: pointer;
        }
        
        .facebook:hover {
            color: rgb(93, 169, 255);
            cursor: pointer;
        }

        .twitter_official:hover{
            color: rgb(109, 206, 255);
            cursor: pointer;
        }
        
        .instagram,
        .twitter,
        .facebook,
        .tiktok,
        .twitter_official {
            color: white;
            user-select: none;
        }
        
        @media (max-width: 800px) {
            .side_air {
                padding: 0 10% 0;
            }
        }
        
        @media (max-width:501px) {
            .side_air {
                padding: 0 0% 0;
            }
        }